body,html{
	width: 100%;
	height: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/*生成二维码*/
.share{
	width: 100%;
}

/*二维码位置*/
.share-ewm{
	margin: 50px auto;
}

/*解释*/
.demo{
	width: 70%;
	margin: 0 auto;
}